.ms-skin-default .ms-slide .ms-slide-vpbtn,
.ms-skin-default .ms-video-btn{width:50px;height:51px;background:url(/wp-content/themes/allied-physicians-group/js/masterslider/skins/default/light-skin-1.png) no-repeat -14px -150px;top:50%;left:50%;margin:-25px 0 0 -25px}.ms-skin-default .ms-slide .ms-slide-vcbtn{width:30px;height:30px;background:url(/wp-content/themes/allied-physicians-group/js/masterslider/skins/default/light-skin-1.png) no-repeat -24px -28px;top:18px;right:30px}.ms-skin-default .ms-nav-next,
.ms-skin-default .ms-nav-prev{width:30px;background:url(/wp-content/themes/allied-physicians-group/js/masterslider/skins/default/light-skin-1.png);background-position:-89px -26px;height:40px;cursor:pointer;top:50%;left:30px;margin-top:-20px;position:absolute;z-index:110}.ms-skin-default .ms-nav-next{right:30px;left:auto;background-position:-89px -103px}.ms-skin-default .ms-bullet{width:10px;height:10px;background:url(/wp-content/themes/allied-physicians-group/js/masterslider/skins/default/light-skin-1.png) no-repeat;margin:4px;background-position:-34px -117px}.ms-skin-default .ms-bullet-selected{background-position:-34px -84px}.ms-skin-default .ms-time-bar{height:3px;background:#FFF;border-top:solid 1px rgba(0, 0, 0, 0.41)}.ms-skin-default .ms-tooltip{position:absolute;z-index:210;cursor:auto}.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow,
.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow{border-left:solid 10px transparent;border-right:solid 10px transparent;position:absolute;left:50%;margin-left:-10px}.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow{border-top:solid 10px;border-top-color:silver;border-top-color:rgba(240, 240, 240, 0.88);bottom:-10px}.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow{border-bottom:solid 10px;border-bottom-color:silver;border-bottom-color:rgba(240, 240, 240, 0.88);top:-10px}.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow,
.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow{border-top:solid 10px transparent;border-bottom:solid 10px transparent;position:absolute;top:50%;margin-top:-10px}.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow{border-right:solid 10px;border-right-color:silver;border-right-color:rgba(240, 240, 240, 0.88);left:-10px}.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow{border-left:solid 10px;border-left-color:silver;border-left-color:rgba(240, 240, 240, 0.88);right:-10px}.ms-skin-default .ms-tooltip-point{cursor:pointer}.ms-skin-default .ms-tooltip-point .ms-point-center{width:12px;height:12px;border-radius:15px;border:solid 2px #BBB;background:white;margin:-8px 0 0 -8px;position:absolute;z-index:105}.ms-skin-default .ms-tooltip-point .ms-point-border{width:22px;height:22px;background:black;background:rgba(0, 0, 0, 0.36);margin:-11px 0 0 -11px;position:absolute;border-radius:15px;animation:point-anim 1.5s infinite;-moz-animation:point-anim 1.5s infinite;-webkit-animation:point-anim 1.5s infinite;-o-animation:point-anim 1.5s infinite}.ms-skin-default .ms-tooltip{max-width:200px}.ms-skin-default .ms-tooltip-cont{padding:10px;background:silver;background:rgba(240, 240, 240, 0.88);text-shadow:0 1px 0px white;margin-left:-1px}@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx){.ms-skin-default .ms-slide .ms-slide-vpbtn,
.ms-skin-default .ms-video-btn,
.ms-skin-default .ms-slide .ms-slide-vcbtn,
.ms-skin-default .ms-nav-next,
.ms-skin-default .ms-nav-prev,
.ms-skin-default .ms-bullet{background-image:url(/wp-content/themes/allied-physicians-group/js/masterslider/skins/default/light-skin-1-retina.png);background-size:152px 225px}}#cn-slim-plus .connections-list{clear:both;line-height:normal}#cn-slim-plus .cn-clear{clear:both}#cn-slim-plus div.cn-list-head{margin-bottom:25px}#cn-slim-plus .cn-search{float:right;margin-bottom:20px}#cn-slim-plus .cn-search
label{display:none}#cn-slim-plus #cn-select-label{display:block;font-size:14px;margin:10px
0 6px;text-align:left}#cn-slim-plus .cn-list-section-head .cn-alphaindex{clear:both;position:relative;margin:12px
0 0;text-align:right}#cn-slim-plus .cn-show{display:block}#cn-slim-plus .cn-list-row, #cn-slim-plus .cn-list-row-alternate{clear:both}#cn-slim-plus .cn-entry{clear:both;font-size:18px !important;position:relative;margin-bottom:15px}#cn-slim-plus
h3{cursor:pointer;display:block;font-size:20px !important;font-weight:400;line-height:20px !important;margin:0
!important;padding:15px
10px 15px !important;text-decoration:none;background:#ececec;border-bottom:0 !important;border-radius:3px}#cn-slim-plus h3
a{text-decoration:none;color:#545454}#cn-slim-plus
h4{font-size:13px;font-weight:bold;margin:0
0 1em}#cn-slim-plus
h5{font-size:1em;font-weight:bold;margin:0
0 1em}.cn-sprite{background:url(/wp-content/plugins/connections-slim-plus/sprite.gif) no-repeat 0 0;display:block;height:20px;width:20px;float:right;margin:0;padding:0;box-sizing:border-box;border-radius:50%}#cn-slim-plus .cn-open{background:url(/wp-content/plugins/connections-slim-plus/sprite.gif) no-repeat 0 -20px}#cn-slim-plus .cn-detail{padding-top:10px}#cn-slim-plus .cn-left{display:block;float:left;overflow:hidden;position:relative;top:0;width:210px}#cn-slim-plus .cn-right{display:block;float:left;margin-bottom:15px;width:-moz-calc(100% - 220px);width:-webkit-calc(100% - 220px);width:calc(100% - 220px)}#cn-slim-plus span.cn-image-style{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background-color:#FFF;border:none;margin:0;padding:0
5px 0}#cn-slim-plus .cn-image-none{-webkit-border-radius:5px;border-radius:5px;color:#AAA;background-color:#F1F1F1;border:1px
solid #D3D3D3;font-weight:700;margin:0
0 5px;padding:0;position:relative;text-align:center;text-shadow:0px 1px 0px #E1E1E8}#cn-slim-plus .cn-detail .org, #cn-slim-plus .cn-detail
.title{font-weight:bold;margin-bottom:10px}#cn-slim-plus
span.tel{margin:0}#cn-slim-plus .vevent
abbr{border:0;text-transform:none}#cn-slim-plus .bio, #cn-slim-plus
.note{margin:0
0 1em 0;line-height:1.5em}@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){#cn-slim-plus .cn-left{display:block;float:none;margin-right:10px;overflow:hidden;position:relative;top:0;width:100%}#cn-slim-plus .cn-right{display:block;float:none;width:100%;padding-bottom:15px}}#cn-page-nav
a{font-size:25px}#cn-page-nav{font-size:24px;margin:40px
0 10px 0}#cn-page-nav
input{font-size:25px}#cn-search-input{background:#fff none;border-width:1px 0 1px 1px;border-style:solid;border-color:#dfdfdf;border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-khtml-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#888;display:inline-block;font-size:17px;float:none;height:40px;line-height:20px;margin:1px
0 1px 1px!important;padding:3px
6px;text-align:left;vertical-align:bottom;width:140px}input#cn-search-submit{background-size:28px;border-width:1px 1px 1px 0;border-style:solid;border-color:#dfdfdf;border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-khtml-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;font-size:17px;float:none;height:40px;line-height:20px;margin:1px
1px 1px 0!important;padding:3px;text-align:left;vertical-align:bottom;width:40px!important}.entry-content .cn-search-message{list-style-type:square;margin-left:10px}#cn-search-messages{border-left:4px solid #f15c25;border-top:0px solid rgba(0,0,0,0.1);border-right:2px solid rgba(0,0,0,0.1);border-bottom:2px solid rgba(0,0,0,0.1);margin:12px
2px 40px 0}a#cn-clear-search-button{text-decoration:none;padding:5px
23px;background:#f15c25;color:#f5f5f5;display:inline-block;font-size:19px;font-weight:400;border-radius:2px}a#cn-clear-search-button:hover{text-decoration:none;padding:5px
23px;background:#ce410d;color:#f5f5f5;display:inline-block;font-size:19px;font-weight:400;border-radius:2px;border-bottom:none}.fap-peds-listings .cn-sprite{background-color:#6d81bf !important}.entry-content .fap-peds-listings .cn-right
a{color:#6d81bf;border-bottom:1px solid #6d81bf}.entry-content .fap-peds-listings .cn-right a:hover{color:#6d81bf;border-bottom:2px solid #6d81bf}.fap-obgyn-listings .cn-sprite{background-color:#fab925 !important}.entry-content .fap-obgyn-listings .cn-right
a{color:#fab925;border-bottom:1px solid #fab925}.entry-content .fap-obgyn-listings .cn-right a:hover{color:#fab925;border-bottom:2px solid #fab925}.fap-adultmed-listings .cn-sprite{background-color:#58bb65 !important}.entry-content .fap-adultmed-listings .cn-right
a{color:#58bb65;border-bottom:1px solid #58bb65}.entry-content .fap-adultmed-listings .cn-right a:hover{color:#58bb65;border-bottom:2px solid #58bb65}