div.wpcf7{margin:0;padding:0}div.wpcf7-response-output{margin:2em
0.5em 1em;padding:0.2em 1em}div.wpcf7 .screen-reader-response{position:absolute;overflow:hidden;clip:rect(1px,1px,1px,1px);height:1px;width:1px;margin:0;padding:0;border:0}div.wpcf7-mail-sent-ok{border:2px
solid #398f14}div.wpcf7-mail-sent-ng{border:2px
solid #f00}div.wpcf7-spam-blocked{border:2px
solid #ffa500}div.wpcf7-validation-errors{border:2px
solid #f7e700}.wpcf7-form-control-wrap{position:relative}span.wpcf7-not-valid-tip{color:#f00;font-size:1em;display:block}.use-floating-validation-tip span.wpcf7-not-valid-tip{position:absolute;top:20%;left:20%;z-index:100;border:1px
solid #f00;background:#fff;padding: .2em .8em}span.wpcf7-list-item{display:inline-block;margin:0
0 0 1em}span.wpcf7-list-item-label::before,span.wpcf7-list-item-label::after{content:" "}.wpcf7-display-none{display:none}div.wpcf7 .ajax-loader{visibility:hidden;display:inline-block;background-image:url('/wp-content/plugins/contact-form-7/images/ajax-loader.gif');width:16px;height:16px;border:none;padding:0;margin:0
0 0 4px;vertical-align:middle}div.wpcf7 .ajax-loader.is-active{visibility:visible}div.wpcf7 div.ajax-error{display:none}div.wpcf7
.placeheld{color:#888}div.wpcf7 .wpcf7-recaptcha
iframe{margin-bottom:0}div.wpcf7 input[type="file"]{cursor:pointer}div.wpcf7 input[type="file"]:disabled{cursor:default}html{font-family:'Helvetica Neue';color:#111112;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em
40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,
html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],
html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px
solid #c0c0c0;margin:0
2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}body{background:#fff}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0
0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:bold}dd{margin:0
1.5em 1.5em}img{height:auto;max-width:100%}figure{margin:1em
0}table{margin:0
0 1.5em;width:100%}@font-face{font-family:'Helvetica Neue';src:url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Bold.eot');src:url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Bold.woff2') format('woff2'),
url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Bold.woff') format('woff'),
url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Bold.ttf') format('truetype'),
url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');font-weight:bold;font-style:normal}@font-face{font-family:'Helvetica-Normal';src:url('/wp-content/themes/emagid/assets/font/Helvetica-Normal.eot');src:url('/wp-content/themes/emagid/assets/font/Helvetica-Normal.eot?#iefix') format('embedded-opentype'),
url('/wp-content/themes/emagid/assets/font/Helvetica-Normal.woff2') format('woff2'),
url('/wp-content/themes/emagid/assets/font/Helvetica-Normal.woff') format('woff'),
url('/wp-content/themes/emagid/assets/font/Helvetica-Normal.ttf') format('truetype'),
url('/wp-content/themes/emagid/assets/font/Helvetica-Normal.svg#Helvetica-Normal') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Helvetica Neue';src:url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Light.eot');src:url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Light.woff2') format('woff2'),
url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Light.woff') format('woff'),
url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Light.ttf') format('truetype'),
url('/wp-content/themes/emagid/assets/font/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');font-weight:300;font-style:normal}ul,li{padding:0;margin:0;list-style-type:none}a{text-decoration:none}.width33{float:left;width:33.3%}img,button{outline:0}.header-container{width:100%}header.home-header{position:absolute;z-index:99;width:100%;overflow:hidden}header.home-header .site-logo{padding-top:15px;padding-left:60px;width:30%;float:left}header.home-header .site-logo
img{width:230px}.site-navigation{background-color:#fff;float:left;width:70%;height:80px;padding-left:25px;padding-right:25px}.site-navigation ul
li{display:inline-block}.site-nav-top{margin-bottom:15px;overflow:hidden}.quick-links{float:left;width:440px}.site-search{float:left;width:140px;padding-top:5px}.quick-links ul
li{font-family:'Helvetica Neue';font-weight:bold;font-size:14px;-webkit-font-smoothing:antialiased}.quick-links ul li a#pay-bills{color:#ea5b31;padding-top:3px;padding-left:10px;padding-right:25px;font-size:15px}.quick-links ul li
a{margin:0}.quick-links ul li a
button{border:0;border-radius:0;color:#fff;background-color:#858585;padding:4px
30px 7px;position:relative}.quick-links ul li a button.patient-portal{padding-left:50px}.quick-links ul li a button.patient-portal:after{position:absolute;left:25px;top:6px;content:url(/wp-content/themes/emagid/assets/img/icon-heart.png)}.site-search
input{font-family:'Helvetica Neue';font-weight:300;border:0;font-size:13px}.site-social{float:right;padding-top:5px}.site-social
img{height:23px}footer{background-color:#858585}.footer-wrapper{width:95%;margin:0
auto}.footer-top{height:150px;overflow:hidden;padding-top:30px}.footer-top
.width33{text-align:center}.footer-top .width33#download-app{text-align:left;padding-top:15px;padding-left:30px}.footer-top .width33#download-app
img{width:250px}.footer-top .width33#footer-logo
img{width:250px}.footer-top .width33#footer-social{text-align:right;padding-right:30px;padding-top:5px}.footer-top .width33#footer-social img#phone-icon{width:14px;margin-right:3px;display:inline-block;vertical-align:middle}.footer-top .width33#footer-social
img.social{width:175px;display:block;margin-right:0;margin-left:auto}.footer-top .width33#footer-social
p{color:#fff;font-weight:bold;-webkit-font-smoothing:antialiased;font-weight:15px;letter-spacing:1px;display:inline-block;vertical-align:middle}.footer-bottom{height:50px;background-color:rgba(0,0,0,0.16);overflow:hidden}.footer-bottom-left{width:50%;float:left;padding-top:15px;padding-left:30px}.footer-bottom-left ul
li{display:inline-block;margin-right:45px}.footer-bottom-left ul li
a{color:#fff;font-weight:normal;font-size:13.5px;letter-spacing:0.5px}.footer-bottom-right{width:50%;float:right;text-align:right;padding-top:15px;padding-right:30px}.footer-bottom-right
p{color:#fff;font-weight:normal;font-size:13.5px;letter-spacing:0.5px;margin-top:0}.main-navigation
ul{text-align:center}.main-navigation ul
li{display:inline-block;font-family:'Helvetica Neue';font-weight:300;margin-left:15px;margin-right:15px;font-size:14px;-webkit-font-smoothing:antialiased}.main-navigation ul li
a{color:#111112}.swiper-slide{width:100%;height:750px;background-size:cover;background-position:center;padding-top:190px;padding-left:80px}.home-hero-call{background-color:#fff;border-radius:6px;width:330px;padding:40px
55px 40px 45px;height:390px}.home-hero-call
h3{font-weight:normal;font-size:34px;color:#ea5b31;letter-spacing:1.5px;margin-top:0;margin-bottom:5px}.home-hero-call
h4{font-size:22px;font-weight:300;-webkit-font-smoothing:antialiased;margin-top:15px;margin-bottom:10px;line-height:1.35em}.home-hero-call a
button{color:#fff;font-size:24px;background-color:#ea5b31;border:0;border-radius:2px;height:50px;width:260px;text-align:left;padding-left:20px;font-weight:bold;-webkit-font-smoothing:antialiased;margin-top:25px;position:relative}.home-hero-call a button:after{position:absolute;right:15px;top:12px;content:url(/wp-content/themes/emagid/assets/img/arrow-white.png)}.mid-section-block{height:415px}.mid-section-wrapper{width:95%;margin:0
auto;padding-top:50px;padding-bottom:30px}.mid-section-header{margin-top:0;padding-left:25px;padding-right:25px;overflow:hidden}.mid-section-header .header-left{float:left}.mid-section-header .header-right{float:right;padding-top:10px}.mid-section-header img.white-line{height:7px;width:150px}.mid-section-header
h2{color:#fff;font-size:26px;margin-top:8px;margin-bottom:15px;-webkit-font-smoothing:antialiased}.mid-section-header a
button{border:0;border-radius:3px;color:#fff;background-color:#858585;height:46px;width:150px;font-size:19px;font-weight:bold;-webkit-font-smoothing:antialiased}.mid-section-content{overflow:hidden}.mid-section-content .content-container{height:250px;background-size:cover;background-position:center;float:left;width:70%}.mid-section-content .mid-section-text{float:left;width:30%;background-color:#fff;height:250px;padding:25px;position:relative}.mid-section-content .mid-section-text img.go-button{position:absolute;right:7px;bottom:7px;height:30px}.mid-section-content .mid-section-text
h6{font-size:11px;letter-spacing:1.25px;font-weight:normal;text-transform:uppercase;font-style:italic;margin-top:15px;margin-bottom:15px}.mid-section-content .mid-section-text
h4{font-size:22px;width:80%;margin-top:8px;margin-bottom:20px;letter-spacing:0.5px;font-weight:normal}.mid-section-block#block-1 .mid-section-text
h4{color:#528ebd}.mid-section-block#block-2 .mid-section-text
h4{color:#ea5b31}.mid-section-content .mid-section-text
p{line-height:1.4em;font-size:15px;width:90%}.mid-section-block#block-1{background-color:#c6def1}.mid-section-block#block-2{background-color:#fad6c8}.patient-dropdown{background-color:#fff;height:110px}.patient-dropdown
ul{overflow:hidden;width:95%;margin:0
auto}.patient-dropdown ul
li{float:left;width:33.3%;font-size:19px;font-weight:bold;padding-top:45px;padding-left:25px;-webkit-font-smoothing:antialiased;border-right:1px solid rgba(158, 160, 162, 0.4);height:110px;position:relative}.patient-dropdown#pediatric-medicine ul li:after{position:absolute;right:15px;top:48px;content:url(/wp-content/themes/emagid/assets/img/dropdown-blue.png)}.patient-dropdown#medical-specialists ul li:after{position:absolute;right:15px;top:48px;content:url(/wp-content/themes/emagid/assets/img/dropdown-oj.png)}.patient-dropdown ul li:last-child{border-right:0}.patient-dropdown ul li
a{color:#111112;font-size:21px;letter-spacing:0.25px}.allied-connect{width:100%;padding-bottom:150px;background-color:#f7f8f9}.allied-connect-wrapper-offset{width:80%;margin-right:0;margin-left:auto;overflow:hidden}.allied-connect-wrapper{width:80%;margin-top:-160px;margin-right:0;margin-left:auto;overflow:hidden}.allied-connect-container{background-color:#fff;margin-right:10%;overflow:hidden;position:relative;padding:25px
45px}.allied-connect-container
.width33{padding-right:65px}.allied-connect-container
h4{font-size:18px;font-weight:bold;letter-spacing:0.35px;-webkit-font-smoothing:antialiased;padding-bottom:2px;border-bottom:2px solid rgba(126, 128, 131, 0.35)}.allied-connect-container .width33
ul{padding:1px
10px 0px;background-color:#f7f8f9}.allied-connect-container .width33 ul
li{margin-bottom:20px;padding-bottom:10px}.allied-connect-container .width33 ul li
h6{font-size:9.5px;letter-spacing:1.25px;font-weight:normal;text-transform:uppercase;font-style:italic;margin-bottom:0}.allied-connect-container .width33 ul li
p{font-weight:normal;font-size:13px;letter-spacing:0.5px;line-height:1.4em;margin-top:5px;margin-bottom:5px;color:#7e8083}.allied-connect-container .width33 ul li p
span{font-size:14px;font-weight:bold;color:#111112}.allied-connect-container .width33
button{border:0;border-radius:3px;color:#fff;background-color:#858585;padding:8px
20px 9px;font-size:15px;font-weight:bold;-webkit-font-smoothing:antialiased}.allied-connect-wrapper-offset
.header{width:30%;float:left;padding-top:130px}.allied-connect-wrapper-offset .header
h6{font-size:11px;letter-spacing:1.25px;font-weight:normal;text-transform:uppercase;font-style:italic;margin-top:15px;margin-bottom:0}.allied-connect-wrapper-offset .header
h3{color:#858585;font-size:24px;letter-spacing:0.25px;font-weight:bold;-webkit-font-smoothing:antialiased;margin-top:5px}.allied-connect-wrapper-offset .allied-map{width:70%;float:left}div#upcoming-events
button{margin-top:20px}.allied-connect-container .width33 .event-holder{padding:20px
10px 0px;background-color:#f7f8f9;overflow:hidden}.event-holder .event-date{background-color:#528ebd;width:50px;height:50px;border-radius:50%;text-align:center;float:left}.event-holder .event-date
h5{color:#fff;font-size:14px;font-weight:bold;padding-top:11px;line-height:1em;margin:0}.event-holder .event-text{float:left;margin-left:15px}.event-holder .event-text
h2{margin-top:0;margin-bottom:0;font-size:20px;letter-spacing:0.25px;font-weight:bold;-webkit-font-smoothing:antialiased}.event-holder .event-text
h6{font-size:9px;letter-spacing:1.25px;font-weight:normal;text-transform:uppercase;font-style:italic;margin-top:15px;margin-top:10px;margin-bottom:0}.event-holder .event-text
p{font-weight:normal;font-size:13px;letter-spacing:0.5px;line-height:1.4em;margin-top:0;margin-bottom:5px}.width33#contact-us
p{font-weight:normal;font-size:14px;letter-spacing:0.25px;line-height:1.65em;margin-top:0;margin-bottom:5px}.width33#contact-us p
span{font-weight:bold}.map-practices{position:absolute;bottom:10px;right:10px;width:400px}.map-practices
p{font-weight:normal;font-size:15px;letter-spacing:0.25px;line-height:1.65em;margin-top:0;margin-bottom:5px;-webkit-font-smoothing:antialiased;color:#858585;text-align:right}.map-practices
img{width:100%}@media screen and (max-width: 1200px){header.home-header .site-logo{width:20%;padding-left:40px}header.home-header .site-logo
img{width:130px}.site-navigation{width:80%;padding-left:10px;padding-right:10px}}@media screen and (max-width: 1000px){header.home-header .site-logo{width:200px;padding-left:20px}}@media screen and (max-width: 600px){.width33{float:none;width:100%}.swiper-slide{padding-left:0;padding-top:115px;height:430px}.home-hero-call{width:98%;margin:0
auto;padding:20px;background-color:rgba(255,255,255,0.9)}.mid-section-block{height:auto}.mid-section-header .header-right{float:none;margin-bottom:20px}.mid-section-content .content-container{width:40%}.mid-section-content .mid-section-text{padding:5px
10px;width:60%}.mid-section-content .mid-section-text
h4{font-size:18px;width:100%}.mid-section-content .mid-section-text
p{width:95%}.patient-dropdown{height:auto}.patient-dropdown ul
li{width:100%;border-right:0}.allied-connect-wrapper-offset{width:100%;margin:0
auto;text-align:center}.allied-connect-wrapper-offset
.header{float:none;width:100%;padding-top:20px}.allied-connect-wrapper-offset .allied-map{float:none;width:100%}.allied-connect-wrapper{margin-top:0;width:100%;margin:0
auto}.allied-connect-container{margin-right:0}.allied-connect-container
.width33{padding-right:0}.map-practices{position:relative;width:100%;margin-top:30px}.footer-top{padding-top:0;height:275px}.footer-top .width33#download-app{padding-left:0;text-align:center;margin-bottom:25px}.footer-top .width33#footer-logo
img{width:200px}.footer-top .width33#footer-social{text-align:center}.footer-top .width33#footer-social
img.social{margin:0
auto}.footer-bottom{height:80px}.footer-bottom-left{width:100%;float:none;padding-left:0}.footer-bottom-left
ul{text-align:center}.footer-bottom-left ul
li{margin-left:5px;margin-right:5px}.footer-bottom-right{width:100%;float:none;text-align:center;padding-right:0}}#cn-slim-plus .connections-list{clear:both;line-height:normal}#cn-slim-plus .cn-clear{clear:both}#cn-slim-plus div.cn-list-head{margin-bottom:25px}#cn-slim-plus .cn-search{float:right;margin-bottom:20px}#cn-slim-plus .cn-search
label{display:none}#cn-slim-plus #cn-select-label{display:block;font-size:14px;margin:10px
0 6px;text-align:left}#cn-slim-plus .cn-list-section-head .cn-alphaindex{clear:both;position:relative;margin:12px
0 0;text-align:right}#cn-slim-plus .cn-show{display:block}#cn-slim-plus .cn-list-row, #cn-slim-plus .cn-list-row-alternate{clear:both}#cn-slim-plus .cn-entry{clear:both;font-size:18px !important;position:relative;margin-bottom:15px}#cn-slim-plus
h3{cursor:pointer;display:block;font-size:20px !important;font-weight:400;line-height:20px !important;margin:0
!important;padding:15px
10px 15px !important;text-decoration:none;background:#ececec;border-bottom:0 !important;border-radius:3px}#cn-slim-plus h3
a{text-decoration:none;color:#545454}#cn-slim-plus
h4{font-size:13px;font-weight:bold;margin:0
0 1em}#cn-slim-plus
h5{font-size:1em;font-weight:bold;margin:0
0 1em}.cn-sprite{background:url(/wp-content/plugins/connections-slim-plus/sprite.gif) no-repeat 0 0;display:block;height:20px;width:20px;float:right;margin:0;padding:0;box-sizing:border-box;border-radius:50%}#cn-slim-plus .cn-open{background:url(/wp-content/plugins/connections-slim-plus/sprite.gif) no-repeat 0 -20px}#cn-slim-plus .cn-detail{padding-top:10px}#cn-slim-plus .cn-left{display:block;float:left;overflow:hidden;position:relative;top:0;width:210px}#cn-slim-plus .cn-right{display:block;float:left;margin-bottom:15px;width:-moz-calc(100% - 220px);width:-webkit-calc(100% - 220px);width:calc(100% - 220px)}#cn-slim-plus span.cn-image-style{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background-color:#FFF;border:none;margin:0;padding:0
5px 0}#cn-slim-plus .cn-image-none{-webkit-border-radius:5px;border-radius:5px;color:#AAA;background-color:#F1F1F1;border:1px
solid #D3D3D3;font-weight:700;margin:0
0 5px;padding:0;position:relative;text-align:center;text-shadow:0px 1px 0px #E1E1E8}#cn-slim-plus .cn-detail .org, #cn-slim-plus .cn-detail
.title{font-weight:bold;margin-bottom:10px}#cn-slim-plus
span.tel{margin:0}#cn-slim-plus .vevent
abbr{border:0;text-transform:none}#cn-slim-plus .bio, #cn-slim-plus
.note{margin:0
0 1em 0;line-height:1.5em}@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){#cn-slim-plus .cn-left{display:block;float:none;margin-right:10px;overflow:hidden;position:relative;top:0;width:100%}#cn-slim-plus .cn-right{display:block;float:none;width:100%;padding-bottom:15px}}#cn-page-nav
a{font-size:25px}#cn-page-nav{font-size:24px;margin:40px
0 10px 0}#cn-page-nav
input{font-size:25px}#cn-search-input{background:#fff none;border-width:1px 0 1px 1px;border-style:solid;border-color:#dfdfdf;border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-khtml-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#888;display:inline-block;font-size:17px;float:none;height:40px;line-height:20px;margin:1px
0 1px 1px!important;padding:3px
6px;text-align:left;vertical-align:bottom;width:140px}input#cn-search-submit{background-size:28px;border-width:1px 1px 1px 0;border-style:solid;border-color:#dfdfdf;border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-khtml-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;font-size:17px;float:none;height:40px;line-height:20px;margin:1px
1px 1px 0!important;padding:3px;text-align:left;vertical-align:bottom;width:40px!important}.entry-content .cn-search-message{list-style-type:square;margin-left:10px}#cn-search-messages{border-left:4px solid #f15c25;border-top:0px solid rgba(0,0,0,0.1);border-right:2px solid rgba(0,0,0,0.1);border-bottom:2px solid rgba(0,0,0,0.1);margin:12px
2px 40px 0}a#cn-clear-search-button{text-decoration:none;padding:5px
23px;background:#f15c25;color:#f5f5f5;display:inline-block;font-size:19px;font-weight:400;border-radius:2px}a#cn-clear-search-button:hover{text-decoration:none;padding:5px
23px;background:#ce410d;color:#f5f5f5;display:inline-block;font-size:19px;font-weight:400;border-radius:2px;border-bottom:none}.fap-peds-listings .cn-sprite{background-color:#6d81bf !important}.entry-content .fap-peds-listings .cn-right
a{color:#6d81bf;border-bottom:1px solid #6d81bf}.entry-content .fap-peds-listings .cn-right a:hover{color:#6d81bf;border-bottom:2px solid #6d81bf}.fap-obgyn-listings .cn-sprite{background-color:#fab925 !important}.entry-content .fap-obgyn-listings .cn-right
a{color:#fab925;border-bottom:1px solid #fab925}.entry-content .fap-obgyn-listings .cn-right a:hover{color:#fab925;border-bottom:2px solid #fab925}.fap-adultmed-listings .cn-sprite{background-color:#58bb65 !important}.entry-content .fap-adultmed-listings .cn-right
a{color:#58bb65;border-bottom:1px solid #58bb65}.entry-content .fap-adultmed-listings .cn-right a:hover{color:#58bb65;border-bottom:2px solid #58bb65}